<Configuration>
  <Section Name="Connections">
    <Connections>
      <ConnectionGroup Name="Local">
        <!--<ConnectionString Name="Core" Encrypted="false" Provider="SqlServer">data source=.\SQL2014EX; user id=sa; pwd=sql;initial catalog=Morken_SisMon</ConnectionString>
        <ConnectionString Name="MorkenSisMon" Encrypted="false" Provider="SqlServer">data source=.\SQL2014EX; user id=sa; pwd=sql;initial catalog=Morken_SisMon</ConnectionString>-->
        <ConnectionString Name="Core" Encrypted="false" Provider="SqlServer">data source=DESKTOP-BA9AK3D\SA; user id=sa; pwd=sql;initial catalog=Morken_SisMon</ConnectionString>
        <ConnectionString Name="SisMon" Encrypted="false" Provider="SqlServer">data source=DESKTOP-BA9AK3D\SA; user id=sa; pwd=sql;initial catalog=Morken_SisMon</ConnectionString>
      </ConnectionGroup>
      <ConnectionGroup Name="Morken">
        <ConnectionString Name="Core" Encrypted="false" Provider="SqlServer">data source=sv32.dbsqlserver.com,8888; user id=Morken_SisMon; pwd=krum4.;initial catalog=KrumaDE</ConnectionString>
        <ConnectionString Name="SisMon" Encrypted="false" Provider="SqlServer">data source=sv32.dbsqlserver.com,8888; user id=Morken_SisMon; pwd=krum4.;initial catalog=KrumaDE</ConnectionString>
      </ConnectionGroup>
    </Connections>
  </Section>
  <Section Name="Exceptions">
    <ExceptionPolicies>
      <ExceptionPolicy ReThrow="true" Name="Kruma.Core.Data">
        <ExceptionTypes>
          <ExceptionType>System.Data.SqlClient.SqlException, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089</ExceptionType>
          <ExceptionType>System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089</ExceptionType>
        </ExceptionTypes>
        <ExceptionHandlers>
          <!--<ExceptionHandler>Kruma.Core.Exceptions.Handler.LogHandler</ExceptionHandler>
          <ExceptionHandler>Kruma.Core.Exceptions.Handler.UIHandler</ExceptionHandler>-->
          <ExceptionHandler>Kruma.Core.Exceptions.Handler.NotificationHandler</ExceptionHandler>
        </ExceptionHandlers>
      </ExceptionPolicy>
      <ExceptionPolicy ReThrow="false" Name="Kruma.Core.FileServer">
        <ExceptionTypes>
          <ExceptionType>System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089</ExceptionType>
        </ExceptionTypes>
        <ExceptionHandlers>
          <ExceptionHandler>Kruma.Core.Exceptions.Handler.LogHandler</ExceptionHandler>
        </ExceptionHandlers>
      </ExceptionPolicy>
    </ExceptionPolicies>
  </Section>
  <Section Name="Logs">
    <LoggingConfiguration>
      <Configuration Name="Exceptions" Running="true">
        <LogStorage>Kruma.Core.Log.Storage.FileLogStorage</LogStorage>
        <!--<LogStorage>Kruma.Core.Log.Storage.EventLogStorage</LogStorage>-->
      </Configuration>
    </LoggingConfiguration>
  </Section>
  <Section Name="Notifications">
    <NotificationSettings>
      <Configuration Name="Default"
              User="soportetecnico@kruma.net"
              Password="Soporte.2016"
              Server="mail.kruma.net"
              Port="25"
              EnableSsl="false"
              DefaultAddress="soportetecnico@kruma.net"
              DefaultDisplayName="Kruma Email"
              SendMail="true"
              SendMailTest="false"
              MailTest="cancer.damv@gmail.com">
      </Configuration>
    </NotificationSettings>
  </Section>
  <Section Name="WorkFlowTemplate">
    <WorkFlowTemplateType>
      <Templates Name="Link"
        Alert="\\Plantillas\Link\alert.htm"
        Aprove="\\Plantillas\Link\aprove.htm"
        Reject="\\Plantillas\Link\reject.htm"
        Cancel="\\Plantillas\Link\cancel.htm"
        Return="\\Plantillas\Link\return.htm"
        Invite="\\Plantillas\Link\invite.htm">
      </Templates>
      <Templates Name="Detail"
        Alert="\\Plantillas\Detail\alert.htm"
        Aprove="\\Plantillas\Detail\aprove.htm"
        Reject="\\Plantillas\Detail\reject.htm"
        Cancel="\\Plantillas\Detail\cancel.htm"
        Return="\\Plantillas\Detail\return.htm"
        Invite="\\Plantillas\Detail\invite.htm">
      </Templates>
    </WorkFlowTemplateType>
  </Section>
  <Section Name="Security">
    <PageAccess>
      <Page>/Login.aspx</Page>
      <Page>/LockScreen.aspx</Page>
      <Page>/Error.aspx</Page>
      <Page>/Key.aspx</Page>
      <Page>/Redireccionar.aspx</Page>
      <Page>/Template.aspx</Page>
      <Page>/CambiarContrasenia.aspx</Page>
      <Page>/</Page>
    </PageAccess>
    <AllowedExtensions>
      <!-- base -->
      <Extension>otf</Extension>
      <Extension>eot</Extension>
      <Extension>svg</Extension>
      <Extension>ttf</Extension>
      <Extension>woff2</Extension>
      <Extension>woff</Extension>

      <Extension>map</Extension>
      <Extension>scss</Extension>
      <Extension>less</Extension>
      <Extension>css</Extension>
      <Extension>png</Extension>
      <Extension>aspx</Extension>
      <!-- extensiones -->
      <Extension>ashx</Extension>
      <Extension>axd</Extension>
      <Extension>asbx</Extension>
      <Extension>js</Extension>
      <Extension>jpg</Extension>
      <Extension>gif</Extension>
      <Extension>txt</Extension>
      <Extension>html</Extension>
      <Extension>aspx</Extension>
      <Extension>docx</Extension>
      <Extension>doc</Extension>
      <Extension>wav</Extension>
      <Extension>kml</Extension>
    </AllowedExtensions>
  </Section>
  <Section Name="Application">
    <AppSettings>
      <!--Nombre del Sistema (Referencias del configurador)-->
      <Key Name="SystemName" Value="Morken.SisMon"></Key>
      <Key Name="Version" Value="2"></Key>
      <!--Clave para la criptografia Kerberos-->
      <Key Name="CriptographyProvider" Value="Kerberos"></Key>
      <Key Name="CriptographyKey" Value="Kruma.Core"></Key>
      <!--Grupo de conexion a utilizar-->
      <Key Name="ConnectionGroup" Value="Morken"></Key>
      <!--Nombre del archivo del recurso de textos-->
      <Key Name="ResourceName" Value="Kruma"></Key>
      <!--Ruta del archivo Log-->
      <Key Name="LogFile" Value="Log.txt"></Key>
      <!--Correo para envio de excepciones-->
      <Key Name="ExceptionEmail" Value="jordyvilchezs@kruma.net"></Key>
    </AppSettings>
  </Section>
</Configuration>
