<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <globalization culture="es-PE" uiCulture="eS" />
    <httpRuntime  targetFramework="4.5" maxRequestLength="2014000" executionTimeout="7200" requestValidationMode="2.0"/>
    
      <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" protection="All" timeout="480" defaultUrl="Modulo.aspx" name="MORKENSISMON"/>
    </authentication>
    <sessionState timeout="480" />
    <customErrors mode="On" defaultRedirect="~/Error.aspx" redirectMode="ResponseRewrite" >
    </customErrors>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
    <staticContent>
      <mimeMap fileExtension=".kml" mimeType="application/vnd.google-earth.kml+xml" />
      <mimeMap fileExtension=".kmz" mimeType="application/vnd.google-earth.kmz" />
    </staticContent>
    <modules>
      <add name="Security.AuthorizationModule" type="Kruma.Core.Security.Configuration.AuthorizationModule, Kruma.Core.Security"/>
    </modules>
  </system.webServer>
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false"/>
    <add key="CoreConfig" value="Kruma.config"/>  
  </appSettings>
</configuration>