.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
/*modal centrado*/

.md-modal.full-width {
    width: 90%;
    max-width: none;
}

.modal-dialog.full-width {
    width: 90%;
    max-width: none;
}

.custom-width {
    width: 40%;
    max-width: none;
}

.full-color .md-content {
    background-color: #7761a7;
    color: #fff;
}

.full-color .modal-content {
    background-color: #7761a7;
    color: #fff;
}

.full-color.success .md-content {
    background-color: #19b698;
    color: #fff;
}

.full-color.success .modal-content {
    background-color: #19b698;
    color: #fff;
}

.full-color.info .md-content {
    background-color: #4aa3df;
    color: #fff;
}

.full-color.info .modal-content {
    background-color: #4aa3df;
    color: #fff;
}

.full-color.warning .md-content {
    background-color: #f16e3f;
    color: #fff;
}

.full-color.warning .modal-content {
    /*background-color: #f16e3f;*/
    background-color: #DFB41B;
    color: #fff;
}

.full-color.danger .md-content {
    background-color: #ea6153;
    color: #fff;
}

.full-color.danger .modal-content {
    background-color: #ea6153;
    color: #fff;
}

.full-color.prusia .md-content {
    background-color: #3d566d;
    color: #fff;
}

.full-color.prusia .modal-content {
    background-color: #3d566d;
    color: #fff;
}

.full-color .modal-header {
    background-color: rgba(0, 0, 0, 0.1);
}

.full-color .modal-content .modal-footer {
    border: 0;
    background-color: transparent;
}

.full-color .md-content .modal-footer {
    border: 0;
    background-color: transparent;
}

    .full-color .md-content .modal-footer .btn {
        margin-bottom: 0 !important;
    }

.md-dark .modal-header {
    background-color: #7761a7;
    color: #fff;
}

.md-dark .modal-header {
    background-color: #7761a7;
    color: #fff;
}

.md-dark.success .modal-header {
    background-color: #19b698;
    color: #fff;
}

.md-dark.success .modal-header {
    background-color: #19b698;
    color: #fff;
}

.md-dark.info .modal-header {
    background-color: #4aa3df;
    color: #fff;
}

.md-dark.info .modal-header {
    background-color: #4aa3df;
    color: #fff;
}

.md-dark.warning .modal-header {
    background-color: #f16e3f;
    color: #fff;
}

.md-dark.warning .modal-header {
    background-color: #f16e3f;
    color: #fff;
}

.md-dark.danger .modal-header {
    background-color: #ea6153;
    color: #fff;
}

.md-dark.danger .modal-header {
    background-color: #ea6153;
    color: #fff;
}

.md-dark.prusia .modal-header {
    background-color: #3d566d;
    color: #fff;
}

.md-dark.prusia .modal-header {
    background-color: #3d566d;
    color: #fff;
}

.md-dark .md-content,
.md-dark .modal-content {
    background-color: #23262B;
    color: #BBBEC3;
}

    .md-dark .md-content input,
    .md-dark .modal-content input {
        background-color: transparent;
        color: #b2b2b2;
    }

    .md-dark .modal-content .modal-footer {
        border: 0;
        background-color: transparent;
    }

    .md-dark .md-content .modal-footer {
        border: 0;
        background-color: transparent;
    }

        .md-dark .md-content .modal-footer .btn {
            margin-bottom: 0 !important;
        }

.modal-content {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 0;
}

.modal-body {
    /*padding: 30px 20px;*/
    padding: 10px 20px;
}

    .modal-body.form {
        padding: 30px 20px 15px;
    }

.md-content .icheckbox_flat-green,
.modal-content .icheckbox_flat-green {
    margin-right: 5px;
}

.modal-content > .close {
    margin-right: 10px;
    margin-top: 10px;
}

.modal-content .modal-header {
    border-bottom: 0;
}

.colored-header .modal-header {
    /*padding: 20px;*/
    border-bottom: 5px solid #634d93 !important;
    background-color: #7761a7;
    color: #fff;
    -webkit-border-radius: 5px 5px 0px 0px;
}

.colored-header.success .modal-header {
    padding: 20px;
    border-bottom: 5px solid #16AB13 !important;
    background-color: #18BB15;
    color: #fff;
}

.colored-header.info .modal-header {
    padding: 20px;
    border-bottom: 5px solid #368fcb !important;
    background-color: #4aa3df;
    color: #fff;
}

.colored-header.warning .modal-header {
    padding: 20px;
    border-bottom: 5px solid #E8B40A !important;
    background-color: #E7C52B;
    color: #fff;
}

.colored-header.danger .modal-header {
    /*padding: 20px;*/
    border-bottom: 5px solid #A0C0D0 !important;
    background-color: #FF0000;
    /*border-bottom: 5px solid #4E66A4 !important;
    background-color: #FF0000;*/
    color: #fff;
}

.colored-header.prusia .modal-header {
    padding: 20px;
    border-bottom: 5px solid #294259 !important;
    background-color: #3d566d;
    color: #fff;
}

.colored-header.dark .modal-header {
    padding: 20px;
    border-bottom: 5px solid #0f1217 !important;
    background-color: #23262b;
    color: #fff;
}

.modal-content h4,
.modal-content h4 {
    font-weight: 400;
}

.modal-content h3,
.modal-content h3 {
    font-weight: 300;
    margin-top: 0;
    display: inline;
}

.modal-content h2 {
    margin: 0;
}

.modal-content .modal-footer {
    margin-top: 0;
    background: #FBFBFB;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
}
/*Nifty Modals*/
.md-content {
    overflow: hidden;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 0;
    background: #fff;
    color: #555;
}

    .md-content .modal-header {
        border-bottom: 0;
    }

    .md-content h4,
    .modal-content h4 {
        font-weight: 400;
    }

    .md-content h3,
    .modal-content h3 {
        font-weight: 300;
        margin-top: 0;
    }

    .md-content h2 {
        margin: 0;
    }

    .md-content .modal-footer {
        margin-top: 0;
        background: #FBFBFB;
        border-radius: 0 0 5px 5px;
        -webkit-border-radius: 0 0 5px 5px;
    }

.md-show.md-effect-12 ~ .md-overlay {
    background: #7761a7;
}

body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
    margin-right: 0;
}

/*.modal {
    overflow: auto;
}*/

@media (min-width: 768px) and (max-width: 979px) {
    .custom-width {
        width: 40%;
        max-width: none;
    }
}

@media (max-width: 767px) {
    .custom-width {
        width: 90%;
        max-width: none;
    }
}

.close {
    text-shadow: none;
    font-size: 32px;
    margin-top: -6px;
    color: white;
}


/*tab*/
.smart-widget {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-bottom: 20px;
    border-color: #e4e4e4;
    border-top-width: 4px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

    .smart-widget .smart-widget-header {
        background-color: #fff;
        padding: 15px;
        border-bottom: 1px solid #e6e6e6;
        border-radius: 3px 3px 0 0;
        -moz-border-radius: 3px 3px 0 0;
        -webkit-border-radius: 3px 3px 0 0;
    }

        .smart-widget .smart-widget-header .smart-widget-option {
            float: right;
            -webkit-backface-visibility: hidden;
        }

            .smart-widget .smart-widget-header .smart-widget-option a {
                display: inline-block;
                margin-right: 5px;
                color: #999;
                font-size: 14px;
                outline: none;
                -webkit-backface-visibility: hidden;
            }

                .smart-widget .smart-widget-header .smart-widget-option a:hover,
                .smart-widget .smart-widget-header .smart-widget-option a:focus {
                    color: #555;
                }

                .smart-widget .smart-widget-header .smart-widget-option a.widget-collapse-option {
                    transition: transform 0.4s ease;
                    -webkit-transition: -webkit-transform 0.4s ease;
                    -moz-transition: -moz-transform 0.4s ease;
                    -ms-transition: -ms-transform 0.4s ease;
                    -o-transition: -o-transform 0.4s ease;
                }

            .smart-widget .smart-widget-header .smart-widget-option .refresh-icon-animated {
                margin-right: 5px;
                color: #2baab1;
                display: none;
            }

    .smart-widget .smart-widget-inner {
        border-radius: 0 0 3px 3px;
        -moz-border-radius: 0 0 3px 3px;
        -webkit-border-radius: 0 0 3px 3px;
    }

        .smart-widget .smart-widget-inner .smart-widget-hidden-section {
            display: none;
            padding: 15px;
            background-color: #e4e4e4;
        }

            .smart-widget .smart-widget-inner .smart-widget-hidden-section .widget-color-list {
                list-style: none;
            }

                .smart-widget .smart-widget-inner .smart-widget-hidden-section .widget-color-list li {
                    float: left;
                    border-radius: 50em;
                    -moz-border-radius: 50em;
                    -webkit-border-radius: 50em;
                    width: 25px;
                    height: 25px;
                    margin: 2px 10px 2px 0;
                    border: 2px solid #fff;
                    cursor: pointer;
                }

                    .smart-widget .smart-widget-inner .smart-widget-hidden-section .widget-color-list li:last-child {
                        margin-right: 0;
                    }

        .smart-widget .smart-widget-inner .smart-widget-body {
            padding: 15px;
        }

    .smart-widget .smart-widget-footer {
        padding: 10px 15px;
        background-color: #f5f5f5;
        border-top: 1px solid #ddd;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .smart-widget .list-group.no-border {
        margin-bottom: 0;
    }

        .smart-widget .list-group.no-border .list-group-item {
            border-width: 1px 0;
        }

            .smart-widget .list-group.no-border .list-group-item:first-child {
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
            }

            .smart-widget .list-group.no-border .list-group-item:last-child {
                border-bottom: 0;
            }

    .smart-widget.smart-widget-collapsed .smart-widget-option .widget-collapse-option {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transition: transform 0.4s ease;
        -webkit-transition: -webkit-transform 0.4s ease;
        -moz-transition: -moz-transform 0.4s ease;
        -ms-transition: -ms-transform 0.4s ease;
        -o-transition: -o-transform 0.4s ease;
    }

    .smart-widget.widget-primary .smart-widget-header {
        background-color: #2baab1;
        color: #2baab1;
    }

    .smart-widget.widget-primary .smart-widget-option {
        float: right;
    }

        .smart-widget.widget-primary .smart-widget-option a {
            color: #fff;
        }

    .smart-widget.widget-dark .smart-widget-header {
        background-color: #20232b;
        color: #ffffff;
    }

    .smart-widget.widget-dark .smart-widget-option {
        float: right;
    }

        .smart-widget.widget-dark .smart-widget-option a {
            color: #ffffff;
        }

            .smart-widget.widget-dark .smart-widget-option a:hover,
            .smart-widget.widget-dark .smart-widget-option a:focus {
                color: #ccc;
            }

    .smart-widget.widget-blue .smart-widget-header {
        background-color: #23b7e5;
        color: #ffffff;
    }

    .smart-widget.widget-blue .smart-widget-option {
        float: right;
    }

        .smart-widget.widget-blue .smart-widget-option a {
            color: #ffffff;
        }

        .smart-widget.widget-blue .smart-widget-option .refresh-icon-animated {
            color: #edbc6c;
        }

    .smart-widget.widget-dark-blue .smart-widget-header {
        background-color: #4c5f70;
        color: #ffffff;
    }

    .smart-widget.widget-dark-blue .smart-widget-option {
        float: right;
    }

        .smart-widget.widget-dark-blue .smart-widget-option a {
            color: #ffffff;
        }

            .smart-widget.widget-dark-blue .smart-widget-option a:hover,
            .smart-widget.widget-dark-blue .smart-widget-option a:focus {
                color: #ccc;
            }

    .smart-widget.widget-purple .smart-widget-header {
        background-color: #7266ba;
        color: #ffffff;
    }

    .smart-widget.widget-purple .smart-widget-option {
        float: right;
    }

        .smart-widget.widget-purple .smart-widget-option a {
            color: #ffffff;
        }

            .smart-widget.widget-purple .smart-widget-option a:hover,
            .smart-widget.widget-purple .smart-widget-option a:focus {
                color: #ccc;
            }

    .smart-widget.widget-green .smart-widget-header {
        background-color: #2baab1;
        color: #ffffff;
    }

    .smart-widget.widget-green .smart-widget-option {
        float: right;
    }

        .smart-widget.widget-green .smart-widget-option a {
            color: #ffffff;
        }

            .smart-widget.widget-green .smart-widget-option a:hover,
            .smart-widget.widget-green .smart-widget-option a:focus {
                color: #ccc;
            }

        .smart-widget.widget-green .smart-widget-option .refresh-icon-animated {
            color: #edbc6c;
        }

    .smart-widget.widget-yellow .smart-widget-header {
        background-color: #edbc6c;
        color: #ffffff;
    }

    .smart-widget.widget-yellow .smart-widget-option {
        float: right;
    }

        .smart-widget.widget-yellow .smart-widget-option a {
            color: #ffffff;
        }

            .smart-widget.widget-yellow .smart-widget-option a:hover,
            .smart-widget.widget-yellow .smart-widget-option a:focus {
                color: #ccc;
            }

    .smart-widget.widget-orange .smart-widget-header {
        background-color: #fbc852;
        color: #ffffff;
    }

    .smart-widget.widget-orange .smart-widget-option {
        float: right;
    }

        .smart-widget.widget-orange .smart-widget-option a {
            color: #ffffff;
        }

            .smart-widget.widget-orange .smart-widget-option a:hover,
            .smart-widget.widget-orange .smart-widget-option a:focus {
                color: #ccc;
            }

    .smart-widget.widget-red .smart-widget-header {
        background-color: #e36159;
        color: #ffffff;
    }

    .smart-widget.widget-red .smart-widget-option {
        float: right;
    }

        .smart-widget.widget-red .smart-widget-option a {
            color: #ffffff;
        }

            .smart-widget.widget-red .smart-widget-option a:hover,
            .smart-widget.widget-red .smart-widget-option a:focus {
                color: #ccc;
            }

        .smart-widget.widget-red .smart-widget-option .refresh-icon-animated {
            color: #edbc6c;
        }

    .smart-widget.widget-light-grey .smart-widget-header {
        background-color: #f5f5f5;
        color: #777777;
    }

    .smart-widget.widget-light-grey .smart-widget-option {
        float: right;
    }

        .smart-widget.widget-light-grey .smart-widget-option a {
            color: #777777;
        }
/*datetimepicker*/
.cl-mcont .block {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04);
    border: 0;
    margin-bottom: 30px;
    background: #FFF;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

.block-flat,
.block-wizard {
    margin-bottom: 40px;
    padding: 20px 20px;
    background: #FFF;
    border-radius: 3px;
    position: relative;
    -webkit-border-radius: 3px;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #e2e2e2;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04);
    transition: padding 500ms;
    -moz-transition: padding 500ms;
    -webkit-transition: padding 500ms;
}

    .block-flat.closed {
        padding-bottom: 9px;
    }

    .block .header,
    .widget-block .header,
    .block-flat .header {
        padding: 10px;
        background-color: #FEFEFE;
        border-bottom: 1px solid #dadada;
        transition: border 500ms;
        -moz-transitiontransition: border 500ms;
        -webkit-transition: border 500ms;
    }

    .block-flat.dark-box .header,
    .block-flat.primary-box .header,
    .block-flat.success-box .header,
    .block-flat.info-box .header,
    .block-flat.danger-box .header,
    .block-flat.warning-box .header {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .block-flat.closed .header {
        border-bottom: 1px solid transparent;
    }

.block .header {
    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    padding: 10px;
}

.block-flat .header {
    background: transparent;
    padding: 3px 0;
}

    .block-flat .header.no-border {
        border: 0;
    }

.block-flat .content {
    padding: 15px 3px 0 3px;
}

    .block-flat .content.full-width {
        padding: 0;
        margin-left: -20px;
        margin-right: -20px;
        margin-bottom: -20px;
    }

    .block-flat .content h4 {
        margin-top: 20px;
        font-size: 16px;
    }

.block-flat.no-padding .content {
    padding: 0 !important;
}

.block .header h2,
.widget-block .header h2,
.block-flat .header h2 {
    margin: 0;
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 100;
    font-size: 29px;
    line-height: 38px;
}

.block .header h3 {
    margin: 3px 0;
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 200;
}

.widget-block .header h3,
.block-flat .header h3 {
    margin-top: 3px;
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 200;
}

.block-flat .actions,
.block .actions {
    float: right;
}

    .block-flat .actions .refresh i,
    .block .actions .refresh i {
        font-size: 12px;
    }

.block .actions {
    padding-top: 5px;
}

.block-flat .actions a {
    margin-left: 6px;
    color: rgba(0, 0, 0, 0.3);
}

    .block-flat .actions a:hover {
        color: rgba(0, 0, 0, 0.5);
    }

.block.block-color .actions a {
    margin-left: 6px;
    font-size: 14px;
    color: #fff;
}

    .block.block-color .actions a:hover i {
        color: rgba(255, 255, 255, 0.8);
    }

.block-flat.dark-box .actions a {
    color: #fff;
}

    .block-flat.dark-box .actions a:hover {
        color: rgba(255, 255, 255, 0.5);
    }

.dark-box {
    background-color: #383A41;
    color: #fff;
}

.primary-box {
    background-color: #7761a7;
    color: #fff;
}

.success-box {
    background-color: #19b698;
    color: #fff;
}

.info-box {
    background-color: #4aa3df;
    color: #fff;
}

.warning-box {
    background-color: #f16e3f;
    color: #fff;
}

.danger-box {
    background-color: #ea6153;
    color: #fff;
}

.block .header.dark {
    background-color: #383A41;
    color: #fff;
    border-bottom: 0;
}

.block .header h4 {
    font-weight: 400;
    font-size: 15px;
    margin: 6px 0;
}

.block.block-color {
    position: relative;
    border-radius: 0;
}

    .block.block-color .header {
        border-radius: 0;
        border: 0;
        background: #23262b;
        color: #fff;
    }

    .block.block-color.primary .header {
        background: #7761a7;
        color: #fff;
    }

    .block.block-color.success .header {
        background: #19b698;
        color: #fff;
    }

    .block.block-color.info .header {
        background: #4aa3df;
        color: #fff;
    }

    .block.block-color.warning .header {
        background: #f16e3f;
        color: #fff;
    }

    .block.block-color.danger .header {
        background: #ea6153;
        color: #fff;
    }

.block .loading,
.block-flat .loading {
    display: none;
    cursor: wait;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    top: 0;
    left: 0;
}

    .block .loading i,
    .block-flat .loading i {
        position: relative;
        top: 50%;
        margin-top: -13px;
        left: 50%;
        margin-left: -13px;
        font-size: 26px;
    }

/*button*/
/*Buttons*/
.btn {
    border-color: #CCCCCC;
    border-radius: 0;
    -webkit-border-radius: 0;
    outline: none;
    margin-bottom: 5px !important;
    margin-left: 3px;
    font-size: 11px;
    padding: 7px 11px;
}

.btn-default,
.btn-default:focus {
    background-color: #FFFFFF;
    border-color: #CCCCCC;
    color: #5E5E5E;
}

    .btn-default i {
        color: #444;
    }

    .btn-default:active {
        box-shadow: none;
        background: #f5f5f5;
    }

.btn-primary,
.btn-primary:focus {
    background-color: #7761a7;
    border-color: transparent;
    color: #fff;
}

    .btn-primary:hover,
    .btn-primary:active,
    .btn-primary.active,
    .open .dropdown-toggle.btn-primary {
        background-color: #816bb1;
        border-color: transparent;
    }

    .btn-primary:active {
        box-shadow: none;
        background: #6d579d;
    }

.btn-success,
.btn-success:focus {
    background-color: #18BB15;
    border-color: transparent;
}

    .btn-success:hover,
    .btn-success:active,
    .btn-success.active,
    .open .dropdown-toggle.btn-success {
        background-color: #1CDD19;
        border-color: transparent;
    }

    .btn-success:active {
        box-shadow: none;
        background: #1CDD19;
    }

.btn-info,
.btn-info:focus {
    background-color: rgba(0, 0, 0, 0.1);
    border-color: transparent;
}

    .btn-info:hover,
    .btn-info:active,
    .btn-info.active,
    .open .dropdown-toggle.btn-info {
        background-color: #54ade9;
        border-color: transparent;
    }

    .btn-info:active {
        box-shadow: none;
        background: #4099d5;
    }

.btn-warning,
.btn-warning:focus {
    /*background-color: #E7C52B;*/
    background-color: rgba(0, 0, 0, 0.1);
    border-color: transparent;
}

    .btn-warning:hover,
    .btn-warning:active,
    .btn-warning.active,
    .open .dropdown-toggle.btn-warning {
        background-color: #F9DE45;
        border-color: transparent;
    }

    .btn-warning:active {
        box-shadow: none;
        background: #F9DE45;
    }

.btn-danger,
.btn-danger:focus {
    /*background-color: #ea6153;*/
    background-color: #F39C12;
    border-color: transparent;
}

    .btn-danger:hover,
    .btn-danger:active,
    .btn-danger.active,
    .open .dropdown-toggle.btn-danger {
        background-color: #fb7849;
        border-color: transparent;
    }

    .btn-danger:active {
        box-shadow: none;
        background: #fb7849;
    }

.btn-prusia,
.btn-prusia:focus {
    background-color: #3d566d;
    border-color: transparent;
    color: #fff;
}

    .btn-prusia:hover,
    .btn-prusia:active,
    .btn-prusia.active,
    .open .dropdown-toggle.btn-prusia {
        color: #fff;
        background-color: #476077;
        border-color: transparent;
    }

    .btn-prusia:active {
        box-shadow: none;
        background: #334c63;
    }

.btn-dark,
.btn-dark:focus {
    background-color: #23262b;
    border-color: transparent;
    color: #fff;
}

    .btn-dark:hover,
    .btn-dark:active,
    .btn-dark.active,
    .open .dropdown-toggle.btn-dark {
        color: #fff;
        background-color: #2d3035;
        border-color: transparent;
    }

    .btn-dark:active {
        box-shadow: none;
        background: #191c21;
    }

.btn-rad {
    border-radius: 2px;
    -webkit-border-radius: 2px;
}

.btn-group.horizontal > .btn {
    border-color: rgba(0, 0, 0, 0.08);
}

.btn i {
    font-size: 14px;
    margin-right: 2px;
    display: inline-block;
    min-width: 10px;
}

.btn-group-vertical {
    margin: 3px 3px;
}

.btn-block {
    width: 100%;
}

.close {
    text-shadow: none;
    font-size: 32px;
    margin-top: -6px;
}
/*Transparent Buttons*/
.btn-trans {
    background-color: #fff;
    border-color: #CCCCCC;
    color: #5E5E5E;
}

    .btn-trans.btn-primary {
        background-color: #fff;
        border-color: #7761a7;
        color: #7761a7;
    }

        .btn-trans.btn-primary:hover {
            background-color: #7761a7;
            color: #fff;
        }

    .btn-trans.btn-success {
        background-color: #fff;
        border-color: #19b698;
        color: #19b698;
    }

        .btn-trans.btn-success:hover {
            background-color: #19b698;
            color: #fff;
        }

    .btn-trans.btn-info {
        background-color: #fff;
        border-color: #4aa3df;
        color: #4aa3df;
    }

        .btn-trans.btn-info:hover {
            background-color: #4aa3df;
            color: #fff;
        }

    .btn-trans.btn-warning {
        background-color: #fff;
        border-color: #f16e3f;
        color: #f16e3f;
    }

        .btn-trans.btn-warning:hover {
            background-color: #f16e3f;
            color: #fff;
        }

    .btn-trans.btn-danger {
        background-color: #fff;
        border-color: #ea6153;
        color: #ea6153;
    }

        .btn-trans.btn-danger:hover {
            background-color: #ea6153;
            color: #fff;
        }

    .btn-trans.btn-prusia {
        background-color: #fff;
        border-color: #3d566d;
        color: #3d566d;
    }

        .btn-trans.btn-prusia:hover {
            background-color: #3d566d;
            color: #fff;
        }

    .btn-trans.btn-dark {
        background-color: #fff;
        border-color: #23262b;
        color: #23262b;
    }

        .btn-trans.btn-dark:hover {
            background-color: #23262b;
            color: #fff;
        }
/*Monochromatic tones*/
/*MONO1*/
.btn-mono1.btn-primary {
    background-color: #6d579d;
}

    .btn-mono1.btn-primary:hover {
        background-color: #725ca2;
    }

.btn-mono1.btn-success {
    background-color: #0fac8e;
}

    .btn-mono1.btn-success:hover {
        background-color: #14b193;
    }

.btn-mono1.btn-info {
    background-color: #4099d5;
}

    .btn-mono1.btn-info:hover {
        background-color: #459eda;
    }

.btn-mono1.btn-warning {
    background-color: #e76435;
}

    .btn-mono1.btn-warning:hover {
        background-color: #ec693a;
    }

.btn-mono1.btn-danger {
    background-color: #e05749;
}

    .btn-mono1.btn-danger:hover {
        background-color: #e55c4e;
    }

.btn-mono1.btn-prusia {
    background-color: #334c63;
}

    .btn-mono1.btn-prusia:hover {
        background-color: #385168;
    }

.btn-mono1.btn-dark {
    background-color: #191c21;
}

    .btn-mono1.btn-dark:hover {
        background-color: #1e2126;
    }
/*MONO2*/
.btn-mono2.btn-primary {
    background-color: #634d93;
}

    .btn-mono2.btn-primary:hover {
        background-color: #685298;
    }

.btn-mono2.btn-success {
    background-color: #05a284;
}

    .btn-mono2.btn-success:hover {
        background-color: #0aa789;
    }

.btn-mono2.btn-info {
    background-color: #368fcb;
}

    .btn-mono2.btn-info:hover {
        background-color: #3b94d0;
    }

.btn-mono2.btn-warning {
    background-color: #dd5a2b;
}

    .btn-mono2.btn-warning:hover {
        background-color: #e25f30;
    }

.btn-mono2.btn-danger {
    background-color: #d64d3f;
}

    .btn-mono2.btn-danger:hover {
        background-color: #db5244;
    }

.btn-mono2.btn-prusia {
    background-color: #294259;
}

    .btn-mono2.btn-prusia:hover {
        background-color: #2e475e;
    }

.btn-mono2.btn-dark {
    background-color: #0f1217;
}

    .btn-mono2.btn-dark:hover {
        background-color: #14171c;
    }
/*MONO3*/
.btn-mono3.btn-primary {
    background-color: #594389;
}

    .btn-mono3.btn-primary:hover {
        background-color: #5e488e;
    }

.btn-mono3.btn-success {
    background-color: #00987a;
}

    .btn-mono3.btn-success:hover {
        background-color: #009d7f;
    }

.btn-mono3.btn-info {
    background-color: #2c85c1;
}

    .btn-mono3.btn-info:hover {
        background-color: #318ac6;
    }

.btn-mono3.btn-warning {
    background-color: #C8A218;
}

    .btn-mono3.btn-warning:hover {
        background-color: #D8AF1A;
    }

.btn-mono3.btn-danger {
    background-color: #cc4335;
}

    .btn-mono3.btn-danger:hover {
        background-color: #d1483a;
    }

.btn-mono3.btn-prusia {
    background-color: #1f384f;
}

    .btn-mono3.btn-prusia:hover {
        background-color: #243d54;
    }

.btn-mono3.btn-dark {
    background-color: #05080d;
}

    .btn-mono3.btn-dark:hover {
        background-color: #0a0d12;
    }
/*MONO4*/
.btn-mono4.btn-primary {
    background-color: #4f397f;
}

    .btn-mono4.btn-primary:hover {
        background-color: #543e84;
    }

.btn-mono4.btn-success {
    background-color: #008e70;
}

    .btn-mono4.btn-success:hover {
        background-color: #009375;
    }

.btn-mono4.btn-info {
    background-color: #227bb7;
}

    .btn-mono4.btn-info:hover {
        background-color: #2780bc;
    }

.btn-mono4.btn-warning {
    background-color: #c94617;
}

    .btn-mono4.btn-warning:hover {
        background-color: #ce4b1c;
    }

.btn-mono4.btn-danger {
    background-color: #c2392b;
}

    .btn-mono4.btn-danger:hover {
        background-color: #c73e30;
    }

.btn-mono4.btn-prusia {
    background-color: #152e45;
}

    .btn-mono4.btn-prusia:hover {
        background-color: #1a334a;
    }

.btn-mono4.btn-dark {
    background-color: #000003;
}

    .btn-mono4.btn-dark:hover {
        background-color: #000308;
    }
/*Specific icons size*/
.btn-lg {
    padding: 12px 14px;
    font-size: 15px;
    font-weight: 300;
}

    .btn-lg i {
        font-size: 18px;
    }

.btn-sm {
    padding: 4px 7px;
    font-size: 12px;
}

    .btn-sm i {
        font-size: 16px;
    }

    .btn-sm .glyphicon {
        /*font-size: 17.4px !important;*/
        font-size: 14px !important;
    }

.btn-xs {
    padding: 2px 6px;
    font-size: 11px;
}

    .btn-xs i {
        font-size: 12px;
    }

.btn-shadow {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12);
}

    .btn-shadow.btn-success {
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    }

    .btn-shadow.btn-primary {
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    }

    .btn-shadow.btn-warning {
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    }

    .btn-shadow.btn-danger {
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    }

    .btn-shadow.btn-info {
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    }

    .btn-shadow.btn-prusia {
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    }

    .btn-shadow.btn-dark {
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    }

.btn-flat,
.btn-flat:focus {
    box-shadow: none;
}

.btn-primary .caret,
.btn-success .caret,
.btn-warning .caret,
.btn-danger .caret,
.btn-info .caret,
.btn-prusia .caret,
.btn-dark .caret {
    border-top-color: #FFFFFF;
}

.btn-group-vertical > .btn {
    margin-bottom: 0 !important;
}

    .btn-group-vertical > .btn:first-child {
        margin-left: 0;
        border-radius: 0 !important;
        -webkit-border-radius: 0 !important;
    }

    .btn-group-vertical > .btn:last-child {
        border-radius: 0 !important;
        -webkit-border-radius: 0 !important;
    }
/*Social buttons*/
.btn-facebook i {
    color: #3b5998;
}

.btn-twitter i {
    color: #00aced;
}

.btn-google-plus i {
    color: #dd4b39;
}

.btn-dribbble i {
    color: #ea4c89;
}

.btn-linkedin i {
    color: #0e76a8;
}

.btn-youtube i {
    color: #c4302b;
}

.btn-pinterest i {
    color: #c8232c;
}

.btn-tumblr i {
    color: #34526f;
}

.btn-flickr i {
    color: #ff0084;
}

.btn-facebook.bg {
    background: #3b5998;
    color: #fff;
    border: 0;
}

.btn-twitter.bg {
    background: #00aced;
    color: #fff;
    border: 0;
}

.btn-google-plus.bg {
    background: #dd4b39;
    color: #fff;
    border: 0;
}

.btn-dribbble.bg {
    background: #ea4c89;
    color: #fff;
    border: 0;
}

.btn-linkedin.bg {
    background: #0e76a8;
    color: #fff;
    border: 0;
}

.btn-youtube.bg {
    background: #c4302b;
    color: #fff;
    border: 0;
}

.btn-pinterest.bg {
    background: #c8232c;
    color: #fff;
    border: 0;
}

.btn-tumblr.bg {
    background: #34526f;
    color: #fff;
    border: 0;
}

.btn-flickr.bg {
    background: #0063dc;
    color: #fff;
    border: 0;
}

.btn-github.bg {
    background: #333;
    color: #fff;
    border: 0;
}
/*active socials*/
.btn-facebook.bg:active,
.btn-facebook.bg.active {
    background: #274584;
}

.btn-twitter.bg:active,
.btn-twitter.bg.active {
    background: #0098d9;
}

.btn-google-plus.bg:active,
.btn-google-plus.bg.active {
    background: #c93725;
}

.btn-dribbble.bg:active,
.btn-dribbble.bg.active {
    background: #d63875;
}

.btn-linkedin.bg:active,
.btn-linkedin.bg.active {
    background: #006294;
}

.btn-youtube.bg:active,
.btn-youtube.bg.active {
    background: #b01c17;
}

.btn-pinterest.bg:active,
.btn-pinterest.bg.active {
    background: #b40f18;
}

.btn-tumblr.bg:active,
.btn-tumblr.bg.active {
    background: #203e5b;
}

.btn-flickr.bg:active,
.btn-flickr.bg.active {
    background: #004fc8;
}

.btn-github.bg:active,
.btn-github.bg.active {
    background: #1f1f1f;
}

.btn.bg i {
    color: #FFF;
}

.btn:active,
.btn.active {
    box-shadow: none;
}

.btn:focus {
    outline: none;
}

.btn-group.btn-blurbg {
    background: url("../images/blur_bg.png") no-repeat;
    padding: 40px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}

.btn.btn-transparent {
    border-top: 1px solid #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
}

    .btn.btn-transparent:hover {
        background: rgba(255, 255, 255, 0.32);
    }

.video-player {
    position: relative;
    display: inline-block;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}

    .video-player video {
        display: block;
        max-width: 320px;
        width: 100%;
    }

    .video-player .btn-controls {
        text-align: center;
        bottom: 5px;
        position: absolute;
        width: 100%;
    }

        .video-player .btn-controls .btn-group {
            margin: 0;
        }

        .video-player .btn-controls .btn-group {
            float: none;
        }

button::-moz-focus-inner {
    border: 0;
}

.btn-group .dropdown-menu {
    border-radius: 1px;
}
/*disable*/
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary.active[disabled],
fieldset[disabled] .btn-primary.active {
    background-color: #4f397f;
    border-color: #4f397f;
}

.fc-header {
    display: block;
}

    .fc-header td {
        border-bottom: 0;
        border-left: 0;
    }

        .fc-header td:last-child {
            border-right: 0;
        }

.calendar-env .calendar-body .fc-header .fc-header-left {
    padding: 20px;
}

.calendar-env .calendar-body .fc-header .fc-header-right {
    padding: 20px;
}

.fc-header-title {
    padding: 0 10px;
}

.fc-header .fc-button {
    margin: 0;
    vertical-align: middle;
}

.fc-button {
    padding: 10px;
    display: inline !important;
}

.fc-state-default.fc-corner-left {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.fc-state-default.fc-corner-right {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 0px;
}

.fc-state-default {
    background-image: none;
    box-shadow: none;
    text-shadow: none;
    color: #666;
    border: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.fc-state-active,
.fc-state-active .fc-button-inner,
.fc-state-active,
.fc-button-today .fc-button-inner,
.fc-state-hover,
.fc-state-hover .fc-button-inner {
    background: #32323A;
    color: #fff;
    box-shadow: none;
    text-shadow: none;
}

.fc-event {
    background: #7761a7;
    border-color: #7761a7;
}

.external-event {
    /* try to mimick the look of a real event */
    margin: 2px 0;
    padding: 2px 4px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #7761a7;
    color: #fff;
    font-size: .85em;
    cursor: pointer;
    display: inline-block;
}

#external-events p {
    border-top: 1px solid #666;
    padding-top: 5px;
    margin-top: 5px;
}

@media (max-width: 767px) {
    .fc-header .fc-header-left,
    .fc-header .fc-header-center,
    .fc-header .fc-header-right {
        text-align: center;
        display: block;
        width: 100%;
        padding: 20px;
    }

    .fc-header .fc-header-center {
        padding: 0;
    }
}

.scroll-top {
    width: 40px;
    height: 40px;
    opacity: 0.3;
    position: fixed;
    bottom: 100px;
    right: 30px;
    display: none;
    text-indent: -9999px;
    z-index: 1000;
    background: url('../../Images/Base/arriba.png') no-repeat;
}

    .scroll-top:hover {
        opacity: 0.8;
        -webkit-transition: 0.3s all;
        -moz-transition: 0.3s all;
        -o-transition: 0.3s all;
        -ms-transition: 0.3s all;
        transition: 0.3s all;
    }

@media (max-width: 480px) {
    .scroll-top {
        bottom: 10px;
    }
}

.modal-locked {
    background-color: #FF0000 !important;
}
